<!-- ===========================
 HTML CODE
===============================-->
<section class="hero">
  <div class="container">
    <div class="left-content">
      <h1>Kalat Mo, Yaman Ko</h1>
      <p>
        Join a growing movement where your unused items find new purpose. Share,
        receive, and make a difference through reuse, reduce, and recycle.
      </p>
      <a href="#" class="hero-btn">Start Sharing Now</a>
    </div>
    <div class="right-content">
      <img src="/assets/images/trashcan.jpg" alt="img" />
    </div>
  </div>
</section>
<section class="services">
  <h2>Why Join Kalat Mo, Yaman Ko?</h2>
  <p>
    Kalat Mo, Yaman Ko is a community-driven platform that helps you give away
    pre-loved items to people who need them. Promote the 3Rs—Reduce, Reuse, and
    Recycle—while building a circular economy in your own neighborhood
  </p>
  <div class="container">
    <div class="card">
      <img src="/assets/images/recycle-icon.png" alt="img" />
      <span>Help reduce waste and landfill pollution</span>
    </div>
    <div class="card">
      <img src="/assets/images/home-icon.png" alt="img" />
      <span>Support your local community</span>
    </div>
    <div class="card">
      <img src="/assets/images/plant-icon.png" alt="img" />
      <span>Practice sustainable living</span>
    </div>
    <div class="card">
      <img src="/assets/images/medal-icon.svg" alt="svg" />
      <span>Be recognized with points and badges</span>
    </div>
    <div class="card">
      <img src="/assets/images/message-icon.png" alt="img" />
      <span>Connect with like- minded individuals</span>
    </div>
  </div>
</section>
<section class="process">
  <h3>How It Works</h3>

  <div class="rectangle-orange"></div>
  <div class="content">
    <img src="/assets/images/hold-trash.png" alt="img" />
    <div class="container">
      <div class="card">
        <span>01. Post an Item</span>
        <p>Upload photos and details of things you no longer use.</p>
      </div>
      <div class="card">
        <span>02. Connect with Others</span>
        <p>Upload photos and details of things you no longer use.</p>
      </div>
      <div class="card">
        <span>03. Give & Receive</span>
        <p>Coordinate the pickup and pass it forward!</p>
      </div>
      <div class="card">
        <span>04. Earn Points & Badges</span>
        <p>Get rewarded for participating and helping others.</p>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <h4>About Kalat Mo, Yaman Ko</h4>
    <p>
      Kalat Mo, Yaman Ko is more than just a platform—it's a movement towards
      sustainable living and community building. We believe that one person's
      unused items can be another's treasure, creating a cycle of giving that
      benefits both our community and the environment.
    </p>
  </div>
</section>
<section class="testimonial">
  <div class="container">
    <div class="left-content">
      <h4>Ready to Make a Difference?</h4>
      <p>
        Join hundreds of Filipinos finding new homes for old stuff. It’s free,
        easy, and impactful.
      </p>
      <a href="#" class="testimonial-btn">Start Sharing Now</a>
    </div>
    <div class="right-content">
      <div class="card">
        <div class="profile-container">
          <img src="/assets/images/default-profile.png" alt="img" />
          <div class="profile-name">
            <h6>Juan Dela Cruz</h6>
            <span>Description</span>
          </div>
        </div>
        <div class="context">
          <h5>TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL</h5>
          <p>
            TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL TESTIMONIAL
            TESTIMONIAL
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="gallery">
  <h4>Browse What Others Are Sharing</h4>
  <div class="container">
    <div class="carousell-container">
      <div class="card">
        <img src="/assets/images/default-image.png" alt="img" />
        <span>Name</span>
        <p>Description</p>
      </div>
      <div class="card">
        <img src="/assets/images/default-image.png" alt="img" />
        <span>Name</span>
        <p>Description</p>
      </div>
      <div class="card">
        <img src="/assets/images/default-image.png" alt="img" />
        <span>Name</span>
        <p>Description</p>
      </div>
      <button type="button" class="next-btn">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
    <div class="carousell-dots">
      <span><i class="fa-solid fa-circle"></i></span>
      <span><i class="fa-solid fa-circle"></i></span>
      <span><i class="fa-solid fa-circle"></i></span>
      <span><i class="fa-solid fa-circle"></i></span>
      <span><i class="fa-solid fa-circle"></i></span>
    </div>
  </div>
</section>

<!-- ===========================
 CSS LINKS
===============================-->
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/hero.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/services.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/process.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/about.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/testimonials.css"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/stylesheets/client/pages/home/gallery.css"
/>
