:root {
  --main-font: 'inter';
  --color-black: #000000;
  --color-white: #ffffff;
  --color-semi-dark: #29292a;
  --color-yellow: #f6a21e;
  --color-green: #267a37;
  --color-light-green: #2eb053;
  --color-light-gray: #f5f5f5;
  --color-orange: #f6a21e;
  --color-dirty-white: #f3f3f3;
  --color-maroon: #af4c0f;
  --color-red: #a03232;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
input.form-control:focus {
  border-color: var(--color-green);
  box-shadow: 0 0 0 0.2rem rgba(38, 122, 55, 0.25);
  background-color: white;
}
