.navbar {
  padding-top: 1.3rem;
  padding-bottom: 1rem;
}

.navbar .container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-nav .nav-item {
  padding: 0 2.2rem;
}

.navbar-nav .nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s all ease;
  color: var(--color-black);
}

.navbar-nav .nav-link.active {
  color: var(--color-black);
  font-weight: bolder;
  text-decoration: underline;
}

.navbar-nav .nav-link:hover {
  color: var(--color-semi-dark);
  text-decoration: underline;
}

@media (max-width: 991.98px) {
  .navbar .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .navbar-nav .nav-item {
    padding: 0.5rem 0;
  }
}

.navbar-brand img {
  width: 160px;
  height: 55px;
}
.nav-btn {
  border-radius: 28px !important;
  font-weight: 550;
  font-size: 1.2rem;
  padding: 0.3rem 1.6rem;
}
.navbar-nav .nav-btn-register {
  background: transparent;
  border: 2px solid var(--color-yellow);
  color: var(--color-yellow);
}
.navbar-nav .nav-btn-login {
  background: var(--color-green);
  border: 2px solid var(--color-green);
  color: var(--color-white);
}
